*.jl.*.cov
*.jl.cov
*.jl.mem
*.rej
.DS_Store
.benchmarkci
AGENTS.md
Manifest.toml
Manifest-v1.*.toml
benchmark/*.json
coverage
docs/build/
env
node_modules
.idea/
.vscode/settings.json
.JETLSConfig.toml
docs/src/heading.pdf
examples/.CondaPkg/
data/transition.arrow
LocalPreferences.toml
docs/src/.$kite_power_tools.drawio.bkp
