*.jl.*.cov
*.jl.cov
*.jl.mem
*.rej
.DS_Store
.benchmarkci
AGENTS.md
Manifest.toml
benchmark/*.json
coverage
docs/build/
env
node_modules
test/Manifest-v1.12.toml
Manifest-v1.12.toml
.idea/
.vscode/settings.json
.JETLSConfig.toml
Manifest-v1.11.toml
docs/src/heading.pdf
examples/.CondaPkg/
data/transition.arrow
